.logo-text {
    text-transform: none;
}
@media screen and (min-width: 991px){
	.logo-image > a {
	    max-width: 280px;
	}
}

.navbar-default .navbar-nav > li > a {
    color: #eaf2fa;
    padding: 10px;
    text-transform: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eaf2fa;
    padding: 10px;
}

.copyright small, .poweredby {
	display:none;
}
.t3-copyright {
	padding-bottom:20px !important;
}

aside.article-aside {
	display:none;
}
